<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smile.calendar">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <application android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.smile.calendar.ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddEditCalendarActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.BasicSampleActivity"
            android:label="@string/title_activity_basic"></activity>

        <activity
            android:name=".ui.AsynchronousActivity"
            android:label="@string/title_activity_asynchronous" >
        </activity>
        <activity android:name=".ui.MonthScheduleActivity"/>
        <activity android:name=".ui.CalendarScheduleActivity"/>
        <activity android:name=".ui.AddSystemCalendarEventActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".ui.SyncSystemEventActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>
